/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
	font-family: 'Droid Serif', serif;
	font-size: 16px;	
}


/*-----CONTAINER -----*/
#container {
	background-color:rgba(0, 0, 0, 0.99);   /*becomes the nav background color*/
	min-width: 320px;
	max-width: 1140px;
}

/*-----HEADER -----*/
#headerWrapper {
	background-color: #000000;
	min-width: 320px;
}
header img {
	float: left;
	margin: 1% 3% 1% 1%;
	width: 120px;
	border: solid 4px black;
}
.title{
	font-size: 2em; 
	padding-top: .5em;
	padding-right: 2em; 
	color: white;
}
header h1 {
	font-family: bold, 'Apple Chancery';
	font-style: italic;
	font-weight: 700;
	font-size: 2em;
	padding-top: 1.4em;
	color: white;
	text-align: center;
}
header h2 {
	font-size: 1.1em;
	padding-top: .1em;
	padding-bottom: .5em;
	color: white;
}



/*-----NAVigation -----*/


/*-----CONTENT -----*/
#content {
	background-color: rgba(244,245,240,0.9);
}
#content h1 {
	font-size: 2.3em;
	padding-top: .5em;
	padding-left: 2%;
}
#content h2 {
	font-size: 2em;
	padding: 1em 0 0 0;
	margin: 0 2%;
	color: blue;
	font-weight: 700;
}
#content h3 {
	margin: .3em 0 .5em 0;
	font-size: 1.3em;
}
#content p {
	padding-top: .6em;
}
article {
	margin: .9em 2%;
	border-top: 1px solid #06518a;
	font-size: .9em;
}
article figure {
	overflow: hidden;
	width: 100%;
}

article figure img {
	width: 46%;
	height: 230px;
	margin-right: 4%;
	float: left;
	border: 1px solid black;
	cursor: pointer;
}
article figure figcaption {
	display: inline;
	width: 50%;
	font-size: .7em;
	color: #06518a;
}
/*#thover{
  position:fixed;
  background:#000;
  width:100%;
  height:100%;
  opacity: .6
}

#tpopup{
  position:absolute;
  width:300px;
  background:#fff;
  left:50%;
  top:50%;
  border-radius:5px;
  padding:30px 0;
  margin-left:-150px; 
  margin-top:-75px; 
  text-align:center;
  box-shadow:0 0 5px 0 #000;
}
#tpopup img {
	width: 300px;
}
#tclose{
  position:absolute;
  background:black;
  color:white;
  right:-15px;
  top:-15px;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:8px;
  font-weight:bold;
  font-family:'Arial Black', Arial, sans-serif;
  cursor:pointer;
  box-shadow:0 0 10px 0 #000;
}*/




.popup_box {
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  background-clip: padding-box;
  text-align: center;
}
.popup img {
  width: 200px;
}

.popup_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup_overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .popup_close {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .popup_close:hover {
  color: #7db9e8;
}
.popup .popup_content {
  max-height: auto;
  overflow: auto;
}

@media screen and (max-width: 300px){

  .popup{
    width: 70%;
  }
}
/*----- Form -----*/
/*form {
  margin: 50px 0 0 0;
}*/
label {
  font: bold 20px 'Droid Serif', sans-serif;
  display: block;
  float: left;
  text-align: left;
  padding: 5px 10px 0 0;
}
input[type=text] {
  float: left;
  width: 40px;
  font: bold 20px 'Droid Serif', sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
}
form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}
.button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: url(../images/buttons.png) no-repeat;
  border-radius: 20px;
}
.dec {
  background-position: 0 -29px;
}

.buttons {
  padding: 20px 0 0 140px;
}
.submit {
	width: 75%;
	background-color: black;
	font-size: 16px;
	margin: 1em;
	padding: 1em;
	border-radius: 10px;
	color: white;
	text-align: center;
	
}
/*----- FOOTER -----*/
footer {
	clear: both;
	text-align: center;
	/*padding: 1em;*/
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06518a+0,7db9e8+100 */
background: #06518a; /* Old browsers */
background: -moz-linear-gradient(top,  #06518a 0%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#06518a), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #06518a 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #06518a 0%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #06518a 0%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #06518a 0%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06518a', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

/*----- other -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;

}